image: toolhippie/trivy:latest
manifests:
  -
    image: toolhippie/trivy:amd64
    platform:
      architecture: amd64
      os: linux
  -
    image: toolhippie/trivy:arm64v8
    platform:
      architecture: arm64
      os: linux
      variant: v8
  -
    image: toolhippie/trivy:arm32v6
    platform:
      architecture: arm
      os: linux
      variant: v6
